body {
  background-color: #f0f2f5;
}
.server-box {
  flex: 1 1 150px;
  margin: 5px;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.dot-green {
  background-color: green;
}
.dot-red {
  background-color: red;
}
.dot-secondary {
  background-color: gray;
}
.filter-sidebar {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
